{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django with chaiAurCode</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
   <main>

    <!  # 
          SIDEBAR
     -->
 
     <Header id="header">
        <div class="header_items">
            <div class="header_name">
            <h2>Gopal Soni</h2>

        </div>  
        <div>
           <ul class="nav_menu_list">
            <li class="nav_list">
                <a href="#home" class="nav-link"> Home</a>
            </li>
            <li class="nav_list">
                <a href="#about" class="nav-link"> About</a>
            </li> 
             <li class="nav_list">
                <a href="#projects" class="nav-link"> Projects</a>
            </li>
            <li class="nav_list">
                <a href="#contact" class="nav-link">Contact</a>
            </li>
           </ul>
        </div>
        <div>
            <button class="btn">Download CV </button>
        </div>
        </div>
      
     </Header>
   </main>
</body>
</html>